.all-tweets {
  width: 90%;
}

.tweet-container { 
  border: 5px solid #313131;
  padding: 30px;
  margin: 30px;
  background-color: #fafafa;
}

.tweet-container:hover div.username {
  display: block;
}

.tweet-container:hover {
  box-shadow: 8px 8px grey;
  font-weight: bold;
}

/* header */

.profile {
  display: flex;
  justify-content: flex-start;
  
}

.user-fullname {
  font-family: 'Source Sans Pro';
  color: #313131;
  padding-right: 70%;
  padding-left: 20px;
}

.username {
  display: none;
  font-family: 'Source Sans Pro';
  color: grey;
}

/* tweet */

.tweets {
  background-color: transparent;
  font-family: 'Source Sans Pro';
  border : 0px solid #313131;
  margin-bottom: 5px;
  border-bottom-width : 5px;
  font-size: 30px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
}

.date {
  font-family: 'Source Sans Pro';
  font-size: 20px;
}

.icons {
  align-self: center;
}