.all-tweets {
  width: 90%;
}

.tweet-container { 
  border: 5px solid #313131;
  padding: 30px;
  margin: 30px;
  background-color: #fafafa;
}

.tweet-container:hover div.username {
  display: block;
}

.tweet-container:hover div.icons {
  display: block;
}

.tweet-container:hover {
  box-shadow: 8px 8px grey;
  font-weight: bold;
}

/* header */

.profile {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}

.user-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2%;
}

.user-fullname {
  font-family: 'Source Sans Pro';
  color: #313131;
}

.username {
  display: none;
  font-family: 'Source Sans Pro';
  color: grey;
}

/* tweet */

.tweets {
  background-color: transparent;
  font-family: 'Source Sans Pro';
  border : 0px solid #313131;
  margin-bottom: 5px;
  border-bottom-width : 5px;
  font-size: 30px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
}

.date {
  font-family: 'Source Sans Pro';
  font-size: 20px;
}

.fa-2x {
  padding: 2px;
}

.icons {
  display: none;
  align-self: center;
}

/* Mobile version*/
@media only screen and (max-width: 767px) {
  .tweets {
    border-bottom-width : 3px;
    font-size: 25px;
    word-break: break-all;
  }

  .date {
    font-size: 15px;
  }
}

/* Desktop  Version */
@media only screen and (min-width: 1024px) {
  .all-tweets {
    width: 90%;
  }

  .user-info {
    width: 80rem;
    justify-content: space-between;
  }
}