nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color:#363636;
  background-color: #aae4e6;
  height: 120px;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

.title {
  font-family: 'Bungee'; 
  font-size: 35px;
  margin-left: 20px;
}

.subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  margin-right: 20px;
}