.error-word-limit {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
  display: none; 
  margin-bottom: 30px; 
}

.error-empty-text {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
  display: none;
  margin-bottom: 30px;
}

.error-text {
  color: #cc0033;
  font-family: 'Source Sans Pro';
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250,250,250,.3);
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Source Sans Pro';
  width: 90%;
  font-size: 25px;
  padding: 30px;
}

#tweet-text {
  background-color: transparent;
  border : 0px solid #363636;
  margin-bottom: 10px;
  border-bottom-width : 5px;
}

.prompt {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #363636;
}

#button-counter {
  display: flex;
  font-family: 'Bungee';
  justify-content: space-between;
  font-weight: bold;
  color:#363636;
}

#tweet-button {
  font-family: 'Bungee';
  color: #363636;
  background: #aae4e6;
  cursor: pointer;
  font-size: 1.6rem;
}

#tweet-button:hover {
  box-shadow: 3px 3px grey;
  background:#2fa7b4;
}

.over-word-limit {
  color: red;
}

/* Mobile version */
@media only screen and (max-width: 767px) {
  .prompt {
    font-size: 23px;
  }
}