.error-word-limit {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
  display: none; 
  margin-bottom: 30px; 
}

.error-empty-text {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
  display: none;
  margin-bottom: 30px;
}

.error-text {
  color: #cc0033;
  font-family: 'Source Sans Pro';
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250,250,250,.3);
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Source Sans Pro';
  width: 90%;
  font-size: 25px;
  padding: 30px;
}

#tweet-text {
  background-color: transparent;
  border : 0px solid #313131;
  margin-bottom: 10px;
  border-bottom-width : 5px;
}

.prompt {
  display: flex;
  flex-direction: column;
}

#button-counter {
  display: flex;
  font-family:: 'Bungee';
  justify-content: space-between;
  font-weight: bold;
  color: black;
}

#tweet-button {
  font-family: 'Bungee';
  color: #ffffff;
  background: #96d3da;
  cursor: pointer;
  font-size: 1.5rem;
}

.over-word-limit {
  color: red;
}